  * {
    margin: 0;
  }

  body {
    background: radial-gradient(circle at 50% 30%, #FF6600 0%, #331100 25%, #000000 75%);
    color: #F3F1FF;
    overflow: hidden;
  }

  #capa-carga {
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
    padding: 25px;
    z-index: 10;
   
  }

  #tarjeta-carga {
    position: relative;
    width: 640px;
    padding: 26px 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 18px 60px rgba(0, 0, 0, 0.5);
    text-align: center;
    
  }

  #slider {
    width: 100%;
  }

  #progreso-informacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    color: #F3F1FF;
    font-weight: 650;
  }

  #contenedor-boton {
    text-align: center;
  }

  button {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #000000;
    background-color: #FF6600;
    border-color: #FF6600;
    margin-bottom: 25px;
    transition: 300ms;
  }

  button:hover {
    background-color: #6454E3;
    border-color: #6454E3;
  }

  /* https://cssloaders.github.io/ */
  #loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: auto;
    margin-bottom: 25px;
  }

  #loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent #FF6600 #FF6600;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(-360deg);
    }
  }